@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 32px 32px;
  transform: rotate(-45deg) scale(2);
}